.banner-principal .tarjeta .align-self-end
  align-self: center !important

.bloque-texto-b
  &::before
    background-color: lighten($color-acento-botones, 40%)

//-----------------

.conTabla
  overflow-x: auto  

table
  min-width: 700px

  td
    border: none

.tabla-d

  table

  th
    border: none
    font-weight: $base-bold-font-weight
    text-align: center
    background-color: $color-primario
    color: black

  tr:nth-child(odd)
    background-color: #F6F6F6

  .lineSD
    border-left: 3px solid rgba(0, 0, 0, 0.1)
    border-right: 3px solid rgba(0, 0, 0, 0.1)

//-------------------

.lista-ul
  li
    i
      color: $color-primario

//-----------------

.mediumWC
  width: 900px !important  

.iconV
  width: 50px !important
  height: 50px !important

.minimunWC
  height: 120px !important

.littleWC
  height: 160px !important

.trasvasesHC
  height: 255px !important


.tarjeta--azul 
  background-color: #CDF0E9 !important

.tarjeta--naranja 
  background-color: lighten($color-acento-botones, 20%) !important
  .lista-ul
    li
      i
        color: $white

.tarjeta--verde 
  background-color: lighten($color-primario, 35%) !important
  .lista-ul
    li
      i
        color: $white

.tarjeta.color-primario
  background-color: #C1ECE3 !important

.tarjeta-numerada.color-acento-contenido
  border-color: #fff !important

.tabs-b__tab--active
  border-top: 5px solid $color-acento-botones !important

.colorS
  background-color: lighten($color-sistema-f, 25%) !important
  border-radius: 0px
  &::before
    background-color: lighten($color-primario, 0%) !important


//----------------

.cajon--rojo
  background-color: lighten($color-primario, 30%) !important
  &::before
    background-color: $color-acento-botones !important

.cajon--azul
  background-color: lighten($color-primario, 10%) !important
  &::before
    background-color: $color-acento-botones !important

.colorBlue
  background-color: lighten($color-acento-contenido, 30%) !important
  &::before
    background-color: $color-acento-contenido !important

.bloque-texto-d
  border-top: none !important

.bloque-texto-a.color-primario
  background-color: #E8E8E8 !important

.bloque-texto-b.color-primario:before 
  background-color: #C1ECE3 !important



.banner-principal__img
  animation-name: yoyo
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes yoyo
    0%
      transform: translatex(0px)    
    50%
      transform: translatex(-5px)
    100%
      transform: translatex(0px)  

.text-in
  -webkit-animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both
  animation: text-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both

@-webkit-keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1

@keyframes text-in
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1        

.zoom  
  animation-name: zoom
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate    
@keyframes zoom
  0%  
    transform: scale(1.0)
  50%  
    transform: scale(1.1)     
  100%  
    transform: scale(1.0) 

.swing  
  animation-name: swing
  animation-duration: 4.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

  @keyframes swing
    0%
      transform: translatex(0px)    
    50%
      transform: translatex(-5px)
    100%
      transform: translatex(0px)        